page-list {
  ion-icon {
    font-size: 1.7em;
  }
  .bar-button-md {
    font-size: 1.3em;
  }
  .bar-button-ios {
    font-size: 1.3em;
  }
  .wrapping-list .item-content, .wrapping-list .item {
    overflow: initial;
    white-space: initial;
}
//   ion-title {
//     position: absolute;
//     top: 0;
//     left: 0;
//     padding: 0 90px 1px;
//     width: 100%;
//     height: 100%;
//     text-align: center;
//   }
}
